@font-face {
  font-family: 'elusive';
  src: url('../font/elusive.eot?63825465');
  src: url('../font/elusive.eot?63825465#iefix') format('embedded-opentype'),
       url('../font/elusive.woff?63825465') format('woff'),
       url('../font/elusive.ttf?63825465') format('truetype'),
       url('../font/elusive.svg?63825465#elusive') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'elusive';
    src: url('../font/elusive.svg?63825465#elusive') format('svg');
  }
}
*/
 
 [class^="el-"]:before, [class*=" el-"]:before {
  font-family: "elusive";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.el-glass:before { content: '\e800'; } /* 'î €' */
.el-music:before { content: '\e801'; } /* 'î ? */
.el-search:before { content: '\e802'; } /* 'î ? */
.el-search-circled:before { content: '\e803'; } /* 'î ? */
.el-mail:before { content: '\e804'; } /* 'î ? */
.el-mail-circled:before { content: '\e805'; } /* 'î ? */
.el-heart:before { content: '\e806'; } /* 'î ? */
.el-heart-circled:before { content: '\e807'; } /* 'î ? */
.el-heart-empty:before { content: '\e808'; } /* 'î ? */
.el-star:before { content: '\e809'; } /* 'î ? */
.el-star-circled:before { content: '\e80a'; } /* 'î ? */
.el-star-empty:before { content: '\e80b'; } /* 'î ? */
.el-user:before { content: '\e80c'; } /* 'î ? */
.el-group:before { content: '\e80d'; } /* 'î ? */
.el-group-circled:before { content: '\e80e'; } /* 'î ? */
.el-torso:before { content: '\e80f'; } /* 'î ? */
.el-video:before { content: '\e810'; } /* 'î ? */
.el-video-circled:before { content: '\e811'; } /* 'î ? */
.el-video-alt:before { content: '\e812'; } /* 'î ? */
.el-videocam:before { content: '\e813'; } /* 'î ? */
.el-video-chat:before { content: '\e814'; } /* 'î ? */
.el-picture:before { content: '\e815'; } /* 'î ? */
.el-camera:before { content: '\e816'; } /* 'î ? */
.el-photo:before { content: '\e817'; } /* 'î ? */
.el-photo-circled:before { content: '\e818'; } /* 'î ? */
.el-th-large:before { content: '\e819'; } /* 'î ? */
.el-th:before { content: '\e81a'; } /* 'î ? */
.el-th-list:before { content: '\e81b'; } /* 'î ? */
.el-view-mode:before { content: '\e81c'; } /* 'î ? */
.el-ok:before { content: '\e81d'; } /* 'î ? */
.el-ok-circled:before { content: '\e81e'; } /* 'î ? */
.el-ok-circled2:before { content: '\e81f'; } /* 'î ? */
.el-cancel:before { content: '\e820'; } /* 'î ? */
.el-cancel-circled:before { content: '\e821'; } /* 'î ? */
.el-cancel-circled2:before { content: '\e822'; } /* 'î ? */
.el-plus:before { content: '\e823'; } /* 'î ? */
.el-plus-circled:before { content: '\e824'; } /* 'î ? */
.el-minus:before { content: '\e825'; } /* 'î ? */
.el-minus-circled:before { content: '\e826'; } /* 'î ? */
.el-help:before { content: '\e827'; } /* 'î ? */
.el-help-circled:before { content: '\e828'; } /* 'î ? */
.el-info-circled:before { content: '\e829'; } /* 'î ? */
.el-home:before { content: '\e82a'; } /* 'î ? */
.el-home-circled:before { content: '\e82b'; } /* 'î ? */
.el-website:before { content: '\e82c'; } /* 'î ? */
.el-website-circled:before { content: '\e82d'; } /* 'î ? */
.el-attach:before { content: '\e82e'; } /* 'î ? */
.el-attach-circled:before { content: '\e82f'; } /* 'î ? */
.el-lock:before { content: '\e830'; } /* 'î ? */
.el-lock-circled:before { content: '\e831'; } /* 'î ? */
.el-lock-open:before { content: '\e832'; } /* 'î ? */
.el-lock-open-alt:before { content: '\e833'; } /* 'î ? */
.el-eye:before { content: '\e834'; } /* 'î ? */
.el-eye-off:before { content: '\e835'; } /* 'î ? */
.el-tag:before { content: '\e836'; } /* 'î ? */
.el-tags:before { content: '\e837'; } /* 'î ? */
.el-bookmark:before { content: '\e838'; } /* 'î ? */
.el-bookmark-empty:before { content: '\e839'; } /* 'î ? */
.el-flag:before { content: '\e83a'; } /* 'î ? */
.el-flag-circled:before { content: '\e83b'; } /* 'î ? */
.el-thumbs-up:before { content: '\e83c'; } /* 'î ? */
.el-thumbs-down:before { content: '\e83d'; } /* 'î ? */
.el-download:before { content: '\e83e'; } /* 'î ? */
.el-download-alt:before { content: '\e83f'; } /* 'î ? */
.el-upload:before { content: '\e840'; } /* 'î¡€' */
.el-share:before { content: '\e841'; } /* 'î¡? */
.el-quote:before { content: '\e842'; } /* 'î¡? */
.el-quote-circled:before { content: '\e843'; } /* 'î¡? */
.el-export:before { content: '\e844'; } /* 'î¡? */
.el-pencil:before { content: '\e845'; } /* 'î¡? */
.el-pencil-circled:before { content: '\e846'; } /* 'î¡? */
.el-edit:before { content: '\e847'; } /* 'î¡? */
.el-edit-circled:before { content: '\e848'; } /* 'î¡? */
.el-edit-alt:before { content: '\e849'; } /* 'î¡? */
.el-print:before { content: '\e84a'; } /* 'î¡? */
.el-retweet:before { content: '\e84b'; } /* 'î¡? */
.el-comment:before { content: '\e84c'; } /* 'î¡? */
.el-comment-alt:before { content: '\e84d'; } /* 'î¡? */
.el-bell:before { content: '\e84e'; } /* 'î¡? */
.el-warning:before { content: '\e84f'; } /* 'î¡? */
.el-exclamation:before { content: '\e850'; } /* 'î¡? */
.el-error:before { content: '\e851'; } /* 'î¡? */
.el-error-alt:before { content: '\e852'; } /* 'î¡? */
.el-location:before { content: '\e853'; } /* 'î¡? */
.el-location-circled:before { content: '\e854'; } /* 'î¡? */
.el-compass:before { content: '\e855'; } /* 'î¡? */
.el-compass-circled:before { content: '\e856'; } /* 'î¡? */
.el-trash:before { content: '\e857'; } /* 'î¡? */
.el-trash-circled:before { content: '\e858'; } /* 'î¡? */
.el-doc:before { content: '\e859'; } /* 'î¡? */
.el-doc-circled:before { content: '\e85a'; } /* 'î¡? */
.el-doc-new:before { content: '\e85b'; } /* 'î¡? */
.el-doc-new-circled:before { content: '\e85c'; } /* 'î¡? */
.el-folder:before { content: '\e85d'; } /* 'î¡? */
.el-folder-circled:before { content: '\e85e'; } /* 'î¡? */
.el-folder-close:before { content: '\e85f'; } /* 'î¡? */
.el-folder-open:before { content: '\e860'; } /* 'î¡? */
.el-rss:before { content: '\e861'; } /* 'î¡? */
.el-phone:before { content: '\e862'; } /* 'î¡? */
.el-phone-circled:before { content: '\e863'; } /* 'î¡? */
.el-cog:before { content: '\e864'; } /* 'î¡? */
.el-cog-circled:before { content: '\e865'; } /* 'î¡? */
.el-cogs:before { content: '\e866'; } /* 'î¡? */
.el-wrench:before { content: '\e867'; } /* 'î¡? */
.el-wrench-circled:before { content: '\e868'; } /* 'î¡? */
.el-basket:before { content: '\e869'; } /* 'î¡? */
.el-basket-circled:before { content: '\e86a'; } /* 'î¡? */
.el-calendar:before { content: '\e86b'; } /* 'î¡? */
.el-calendar-circled:before { content: '\e86c'; } /* 'î¡? */
.el-mic:before { content: '\e86d'; } /* 'î¡? */
.el-mic-circled:before { content: '\e86e'; } /* 'î¡? */
.el-volume-off:before { content: '\e86f'; } /* 'î¡? */
.el-volume-down:before { content: '\e870'; } /* 'î¡? */
.el-volume:before { content: '\e871'; } /* 'î¡? */
.el-volume-up:before { content: '\e872'; } /* 'î¡? */
.el-headphones:before { content: '\e873'; } /* 'î¡? */
.el-clock:before { content: '\e874'; } /* 'î¡? */
.el-clock-circled:before { content: '\e875'; } /* 'î¡? */
.el-lightbulb:before { content: '\e876'; } /* 'î¡? */
.el-lightbulb-alt:before { content: '\e877'; } /* 'î¡? */
.el-block:before { content: '\e878'; } /* 'î¡? */
.el-resize-full:before { content: '\e879'; } /* 'î¡? */
.el-resize-full-alt:before { content: '\e87a'; } /* 'î¡? */
.el-resize-small:before { content: '\e87b'; } /* 'î¡? */
.el-resize-vertical:before { content: '\e87c'; } /* 'î¡? */
.el-resize-horizontal:before { content: '\e87d'; } /* 'î¡? */
.el-move:before { content: '\e87e'; } /* 'î¡? */
.el-zoom-in:before { content: '\e87f'; } /* 'î¡? */
.el-zoom-out:before { content: '\e880'; } /* 'î¢€' */
.el-down-open:before { content: '\e881'; } /* 'î¢? */
.el-left-open:before { content: '\e882'; } /* 'î¢? */
.el-right-open:before { content: '\e883'; } /* 'î¢? */
.el-up-open:before { content: '\e884'; } /* 'î¢? */
.el-down:before { content: '\e885'; } /* 'î¢? */
.el-left:before { content: '\e886'; } /* 'î¢? */
.el-right:before { content: '\e887'; } /* 'î¢? */
.el-up:before { content: '\e888'; } /* 'î¢? */
.el-down-circled:before { content: '\e889'; } /* 'î¢? */
.el-left-circled:before { content: '\e88a'; } /* 'î¢? */
.el-right-circled:before { content: '\e88b'; } /* 'î¢? */
.el-up-circled:before { content: '\e88c'; } /* 'î¢? */
.el-down-hand:before { content: '\e88d'; } /* 'î¢? */
.el-left-hand:before { content: '\e88e'; } /* 'î¢? */
.el-right-hand:before { content: '\e88f'; } /* 'î¢? */
.el-up-hand:before { content: '\e890'; } /* 'î¢? */
.el-cw:before { content: '\e891'; } /* 'î¢? */
.el-cw-circled:before { content: '\e892'; } /* 'î¢? */
.el-arrows-cw:before { content: '\e893'; } /* 'î¢? */
.el-shuffle:before { content: '\e894'; } /* 'î¢? */
.el-play:before { content: '\e895'; } /* 'î¢? */
.el-play-circled:before { content: '\e896'; } /* 'î¢? */
.el-play-circled2:before { content: '\e897'; } /* 'î¢? */
.el-stop:before { content: '\e898'; } /* 'î¢? */
.el-stop-circled:before { content: '\e899'; } /* 'î¢? */
.el-pause:before { content: '\e89a'; } /* 'î¢? */
.el-pause-circled:before { content: '\e89b'; } /* 'î¢? */
.el-record:before { content: '\e89c'; } /* 'î¢? */
.el-eject:before { content: '\e89d'; } /* 'î¢? */
.el-backward:before { content: '\e89e'; } /* 'î¢? */
.el-backward-circled:before { content: '\e89f'; } /* 'î¢? */
.el-fast-backward:before { content: '\e8a0'; } /* 'î¢? */
.el-fast-forward:before { content: '\e8a1'; } /* 'î¢? */
.el-forward:before { content: '\e8a2'; } /* 'î¢? */
.el-forward-circled:before { content: '\e8a3'; } /* 'î¢? */
.el-step-backward:before { content: '\e8a4'; } /* 'î¢? */
.el-step-forward:before { content: '\e8a5'; } /* 'î¢? */
.el-target:before { content: '\e8a6'; } /* 'î¢? */
.el-signal:before { content: '\e8a7'; } /* 'î¢? */
.el-desktop:before { content: '\e8a8'; } /* 'î¢? */
.el-desktop-circled:before { content: '\e8a9'; } /* 'î¢? */
.el-laptop:before { content: '\e8aa'; } /* 'î¢? */
.el-laptop-circled:before { content: '\e8ab'; } /* 'î¢? */
.el-network:before { content: '\e8ac'; } /* 'î¢? */
.el-inbox:before { content: '\e8ad'; } /* 'î¢? */
.el-inbox-circled:before { content: '\e8ae'; } /* 'î¢? */
.el-inbox-alt:before { content: '\e8af'; } /* 'î¢? */
.el-globe:before { content: '\e8b0'; } /* 'î¢? */
.el-globe-alt:before { content: '\e8b1'; } /* 'î¢? */
.el-cloud:before { content: '\e8b2'; } /* 'î¢? */
.el-cloud-circled:before { content: '\e8b3'; } /* 'î¢? */
.el-flight:before { content: '\e8b4'; } /* 'î¢? */
.el-leaf:before { content: '\e8b5'; } /* 'î¢? */
.el-font:before { content: '\e8b6'; } /* 'î¢? */
.el-fontsize:before { content: '\e8b7'; } /* 'î¢? */
.el-bold:before { content: '\e8b8'; } /* 'î¢? */
.el-italic:before { content: '\e8b9'; } /* 'î¢? */
.el-text-height:before { content: '\e8ba'; } /* 'î¢? */
.el-text-width:before { content: '\e8bb'; } /* 'î¢? */
.el-align-left:before { content: '\e8bc'; } /* 'î¢? */
.el-align-center:before { content: '\e8bd'; } /* 'î¢? */
.el-align-right:before { content: '\e8be'; } /* 'î¢? */
.el-align-justify:before { content: '\e8bf'; } /* 'î¢? */
.el-list:before { content: '\e8c0'; } /* 'î£€' */
.el-indent-left:before { content: '\e8c1'; } /* 'î£? */
.el-indent-right:before { content: '\e8c2'; } /* 'î£? */
.el-briefcase:before { content: '\e8c3'; } /* 'î£? */
.el-off:before { content: '\e8c4'; } /* 'î£? */
.el-road:before { content: '\e8c5'; } /* 'î£? */
.el-qrcode:before { content: '\e8c6'; } /* 'î£? */
.el-barcode:before { content: '\e8c7'; } /* 'î£? */
.el-braille:before { content: '\e8c8'; } /* 'î£? */
.el-book:before { content: '\e8c9'; } /* 'î£? */
.el-adjust:before { content: '\e8ca'; } /* 'î£? */
.el-tint:before { content: '\e8cb'; } /* 'î£? */
.el-check:before { content: '\e8cc'; } /* 'î£? */
.el-check-empty:before { content: '\e8cd'; } /* 'î£? */
.el-asterisk:before { content: '\e8ce'; } /* 'î£? */
.el-gift:before { content: '\e8cf'; } /* 'î£? */
.el-fire:before { content: '\e8d0'; } /* 'î£? */
.el-magnet:before { content: '\e8d1'; } /* 'î£? */
.el-chart:before { content: '\e8d2'; } /* 'î£? */
.el-chart-circled:before { content: '\e8d3'; } /* 'î£? */
.el-credit-card:before { content: '\e8d4'; } /* 'î£? */
.el-megaphone:before { content: '\e8d5'; } /* 'î£? */
.el-clipboard:before { content: '\e8d6'; } /* 'î£? */
.el-hdd:before { content: '\e8d7'; } /* 'î£? */
.el-key:before { content: '\e8d8'; } /* 'î£? */
.el-certificate:before { content: '\e8d9'; } /* 'î£? */
.el-tasks:before { content: '\e8da'; } /* 'î£? */
.el-filter:before { content: '\e8db'; } /* 'î£? */
.el-gauge:before { content: '\e8dc'; } /* 'î£? */
.el-smiley:before { content: '\e8dd'; } /* 'î£? */
.el-smiley-circled:before { content: '\e8de'; } /* 'î£? */
.el-address-book:before { content: '\e8df'; } /* 'î£? */
.el-address-book-alt:before { content: '\e8e0'; } /* 'î£? */
.el-asl:before { content: '\e8e1'; } /* 'î£? */
.el-glasses:before { content: '\e8e2'; } /* 'î£? */
.el-hearing-impaired:before { content: '\e8e3'; } /* 'î£? */
.el-iphone-home:before { content: '\e8e4'; } /* 'î£? */
.el-person:before { content: '\e8e5'; } /* 'î£? */
.el-adult:before { content: '\e8e6'; } /* 'î£? */
.el-child:before { content: '\e8e7'; } /* 'î£? */
.el-blind:before { content: '\e8e8'; } /* 'î£? */
.el-guidedog:before { content: '\e8e9'; } /* 'î£? */
.el-accessibility:before { content: '\e8ea'; } /* 'î£? */
.el-universal-access:before { content: '\e8eb'; } /* 'î£? */
.el-male:before { content: '\e8ec'; } /* 'î£? */
.el-female:before { content: '\e8ed'; } /* 'î£? */
.el-behance:before { content: '\e8ee'; } /* 'î£? */
.el-blogger:before { content: '\e8ef'; } /* 'î£? */
.el-cc:before { content: '\e8f0'; } /* 'î£? */
.el-css:before { content: '\e8f1'; } /* 'î£? */
.el-delicious:before { content: '\e8f2'; } /* 'î£? */
.el-deviantart:before { content: '\e8f3'; } /* 'î£? */
.el-digg:before { content: '\e8f4'; } /* 'î£? */
.el-dribbble:before { content: '\e8f5'; } /* 'î£? */
.el-facebook:before { content: '\e8f6'; } /* 'î£? */
.el-flickr:before { content: '\e8f7'; } /* 'î£? */
.el-foursquare:before { content: '\e8f8'; } /* 'î£? */
.el-friendfeed:before { content: '\e8f9'; } /* 'î£? */
.el-friendfeed-rect:before { content: '\e8fa'; } /* 'î£? */
.el-github:before { content: '\e8fb'; } /* 'î£? */
.el-github-text:before { content: '\e8fc'; } /* 'î£? */
.el-googleplus:before { content: '\e8fd'; } /* 'î£? */
.el-instagram:before { content: '\e8fe'; } /* 'î£? */
.el-linkedin:before { content: '\e8ff'; } /* 'î£? */
.el-path:before { content: '\e900'; } /* 'î¤€' */
.el-picasa:before { content: '\e901'; } /* 'î¤? */
.el-pinterest:before { content: '\e902'; } /* 'î¤? */
.el-reddit:before { content: '\e903'; } /* 'î¤? */
.el-skype:before { content: '\e904'; } /* 'î¤? */
.el-slideshare:before { content: '\e905'; } /* 'î¤? */
.el-stackoverflow:before { content: '\e906'; } /* 'î¤? */
.el-stumbleupon:before { content: '\e907'; } /* 'î¤? */
.el-twitter:before { content: '\e908'; } /* 'î¤? */
.el-tumblr:before { content: '\e909'; } /* 'î¤? */
.el-vimeo:before { content: '\e90a'; } /* 'î¤? */
.el-vkontakte:before { content: '\e90b'; } /* 'î¤? */
.el-w3c:before { content: '\e90c'; } /* 'î¤? */
.el-wordpress:before { content: '\e90d'; } /* 'î¤? */
.el-youtube:before { content: '\e90e'; } /* 'î¤? */
