<!-- Modal 6 (Long Modal)-->
<div class="modal fade" id="modal-role">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="row btnRow" id="leftBtn">
                <form id='event_form' method="POST" enctype="multipart/form-data">
                    <fieldset>

                        <div class="form-group ">
                            <label class="col-sm-2 control-label ">
                                标题
                            </label>
                            <div class="col-sm-10">
                                <input name="title" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-sm-2 control-label ">
                                简介
                            </label>
                            <div class="col-sm-10">
                                <input name="intro" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-sm-2 control-label ">
                                链接
                            </label>
                            <div class="col-sm-10">
                                <input name="url" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-sm-2 control-label ">
                                banner
                            </label>
                            <div class="col-sm-10">
                                <input name="banner" type="file">
                            </div>
                        </div>


                        <div class="form-group ">
                            <label class="col-sm-2 control-label ">
                                开始日期
                            </label>
                            <div class="col-sm-10">
                                <input name="start_time" class="form-control" type="date">
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="col-sm-2 control-label ">
                                截止日期
                            </label>
                            <div class="col-sm-10">
                                <input name="expire_time" class="form-control" type="date">
                            </div>
                        </div>

                        <input type='submit' value='Submit'/>
                    </fieldset>

                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("#event_form").submit(function (e) {
        var form = new FormData($('#event_form')[0]);
        $.ajax({
            url: '/api/v1/events',
            method: 'post',
            data: form,
            contentType: false,
            processData: false,
            success: function (response) {
                oneDo.fnDestroy();
                start();
                $('#modal-role .close').click();
            },
            error: function (err) {

            }
        });
    })
</script>