<!-- Modal 6 (Long Modal)-->
<div class="modal fade" id="modal-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">新增阵营章节</h4>
            </div>
            <div class="modal-body">
                <div class="row" id="element_id">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="add_camp" class="control-label">隶属阵营</label>
                            <select class="camp" id="add_camp"></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="newest_index" class="control-label">当前最新章节</label>
                            <p id='newest_index'></p>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="add_index" class="control-label">章节index</label>
                            <input type="text" class="form-control" id="add_index">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="add_name" class="control-label">章节名称</label>
                            <input type="text" class="form-control" id="add_name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" onclick="upFn()">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="/thirdParty/jquery/jquery.cxselect.min.js"></script>
<script src="/thirdParty/json/json2.js"></script>
<script>
var upFn = function() {
    var data_ = {
        "index": $('#add_index').val(),
        "name": $('#add_name').val()
    };

    // console.log($("#add_camp").val());

    url = '/api/v1/camps/' + $("#add_camp").val() + '/chapters/';

    $.ajax({
        url: url,
        type: "POST",
        data: JSON.stringify(data_),
        contentType: "application/json; charset=utf-8",
         success: function(data) {
            window.location.reload()
        },
        error: function(err) {
            alert(err.responseText)
        }
    });
}

$(document).on('change','#add_camp',function(){

    url = '/api/v1/camps/' + $("#add_camp").val() + '/chapters/newest/';

    $.ajax({
        url: url,
        type: "get",
        contentType: "application/json; charset=utf-8",
         success: function(data) {
            // window.location.reload()
            $("#newest_index").text(data.result)
        },
        error: function(err) {
            alert(err.responseText)
        }
    });
});




//  function show_camps(camp_id) {

//         //只取得章节的index name
//         url = "/api/v1/camps/" + camp_id + '/chapters/';

//         $.ajax({
//             url: url,
//             type: "get",
//             success: function (data) {
//                 $('#dataShow').html(' ');
//                 oneDo.fnDestroy();
//                 tableDate();
//             },
//             error: function (err) {
//                 alert('删除失败');
//             }
//         });
// }


//  function show_chapters(camp_id) {

//         //只取得阵营的id, name
//         url = "/api/v1/camps/";


//         $.ajax({
//             url: url,
//             type: "get",
//             success: function (data) {
//                 $('#dataShow').html(' ');
//                 oneDo.fnDestroy();
//                 tableDate();
//             },
//             error: function (err) {
//                 alert('删除失败');
//             }
//         });
// }
</script>
