<!-- Modal 6 (Long Modal)-->
<div class="modal fade" id="modal-role">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="row btnRow" id="leftBtn">
                <form id="feature_form" enctype="multipart/form-data">
                    <script src="/js/jquery-ui.js"></script>
                    <link href="/css/jquery-ui.css" rel="stylesheet">
                    <div class="form-group ">
                        <label class="col-sm-2 control-label ">
                            生效时间
                        </label>
                        <div class="col-sm-10">
                            <input name="public_time" class="form-control" type="date">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-2 control-label ">
                            失效时间
                        </label>
                        <div class="col-sm-10">
                            <input name="expire_time" class="form-control" type="date">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-2 control-label ">
                            url1
                        </label>
                        <div class="col-sm-10">
                            <input name="url1" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-2 control-label ">
                            url2
                        </label>
                        <div class="col-sm-10">
                            <input name="url2" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-2 control-label ">
                            url3
                        </label>
                        <div class="col-sm-10">
                            <input name="url3" class="form-control" type="text">
                        </div>
                    </div>


                    <div class="form-group ">
                        <label class="col-sm-2 control-label ">
                            标题1
                        </label>
                        <div class="col-sm-10">
                            <input name="title1" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-2 control-label ">
                            标题2
                        </label>
                        <div class="col-sm-10">
                            <input name="title2" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-2 control-label ">
                            标题3
                        </label>
                        <div class="col-sm-10">
                            <input name="title3" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="col-sm-2 control-label ">
                            描述1
                        </label>
                        <div class="col-sm-10">
                            <input name="desc1" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-2 control-label ">
                            描述2
                        </label>
                        <div class="col-sm-10">
                            <input name="desc2" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-2 control-label ">
                            描述3
                        </label>
                        <div class="col-sm-10">
                            <input name="desc3" class="form-control" type="text">
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="col-sm-2 control-label ">
                            图片1
                        </label>
                        <div class="col-sm-10">
                            <input name="image1" type="file">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-2 control-label ">
                            图片2
                        </label>
                        <div class="col-sm-10">
                            <input name="image2" type="file">
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="col-sm-2 control-label ">
                            图片3
                        </label>
                        <div class="col-sm-10">
                            <input name="image3" type="file">
                        </div>
                    </div>
                    <div>
                        <input type='submit' value='Submit'/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("#feature_form").submit(function (e) {
        var formdata = new FormData($('#feature_form')[0]);
        $.ajax({
            url: '/api/v1/portal/index/feature/',
            method: 'post',
            data: formdata,
            processData: false,
            contentType: false,
            success: function (data) {
                if (data.errors) {
                    console.log(data.errors);
                } else {
                    oneDo.fnDestroy();
                    start();
                    $('#modal-role .close').click();
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    })

</script>