<!-- Modal 6 (Long Modal)-->
<div class="modal fade" id="modal-role">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="row btnRow" id="leftBtn">
                <form id='role_form'>
                    <fieldset>

                        <div class="form-group ">

                            <label class="col-sm-2 control-label ">
                                角色名
                            </label>


                            <div class="col-sm-10">
                                <input name="name" class="form-control" type="text">


                            </div>
                        </div>

                        <div class="form-group ">

                            <label class="col-sm-2 control-label ">
                                简介
                            </label>


                            <div class="col-sm-10">
                                <input name="introduce" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group ">

                            <label class="col-sm-2 control-label ">
                                头像
                            </label>


                            <div class="col-sm-10">
                                <input name="avatar" type="file">


                            </div>
                        </div>


                        <div class="form-group ">

                            <label class="col-sm-2 control-label ">
                                形象
                            </label>


                            <div class="col-sm-10">
                                <input name="imagery" type="file">


                            </div>
                        </div>


                        <div class="form-group ">

                            <label class="col-sm-2 control-label ">
                                背景图
                            </label>


                            <div class="col-sm-10">
                                <input name="back_img" type="file">


                            </div>
                        </div>


                        <div class="form-group ">

                            <label class="col-sm-2 control-label ">
                                Banner图
                            </label>


                            <div class="col-sm-10">
                                <input name="banner" type="file">


                            </div>
                        </div>


                        <div class="form-group">

                            <label class="col-sm-2 control-label ">
                                Role type
                            </label>


                            <div class="col-sm-10">
                                <select class="form-control" name="role_type">


                                    <option value="0">网剧</option>


                                    <option value="1">官方</option>


                                    <option value="2">认证</option>


                                    <option value="3">普通</option>


                                </select>


                            </div>
                        </div>


                        <div class="form-group">

                            <label class="col-sm-2 control-label ">
                                Race type
                            </label>


                            <div class="col-sm-10">
                                <select class="form-control" name="race_type">


                                    <option value="0">普通人</option>


                                    <option value="1">天选者</option>


                                    <option value="2">守护者</option>


                                    <option value="3">启蒙者</option>


                                </select>


                            </div>
                        </div>


                        <div class="form-group">

                            <label class="col-sm-2 control-label ">
                                Gender
                            </label>


                            <div class="col-sm-10">
                                <select class="form-control" name="gender">


                                    <option value="0">male</option>


                                    <option value="1">female</option>


                                    <option value="2">unknown</option>


                                </select>


                            </div>
                        </div>


                        <div class="form-group">

                            <label class="col-sm-2 control-label ">
                                Camp
                            </label>


                            <div class="col-sm-10">
                                <select class="form-control" name="camp">


                                    <option value="隐修会">阵营: 隐修会</option>


                                    <option value="凡尘之眼">阵营: 凡尘之眼</option>


                                    <option value="夺灵者">阵营: 夺灵者</option>


                                    <option value="万界图书馆">阵营: 万界图书馆</option>


                                    <option value="中立">阵营: 中立</option>


                                </select>


                            </div>
                        </div>


                        <div class="form-group">

                            <label class="col-sm-2 control-label ">
                                Organize
                            </label>


                            <div class="col-sm-10">
                                <select class="form-control" name="organize">


                                    <option value="阴影网络">机构: 阴影网络</option>


                                    <option value="至高仲裁委员会">机构: 至高仲裁委员会</option>


                                    <option value="饕餮会">机构: 饕餮会</option>


                                    <option value="赏花会">机构: 赏花会</option>


                                    <option value="圣血会议">机构: 圣血会议</option>


                                    <option value="龙鳞堂">机构: 龙鳞堂</option>


                                    <option value="唐氏家族">机构: 唐氏家族</option>


                                    <option value="海曼商团">机构: 海曼商团</option>


                                    <option value="狮鬃佣兵团">机构: 狮鬃佣兵团</option>


                                    <option value="收藏室">机构: 收藏室</option>


                                    <option value="裂隙追迹者">机构: 裂隙追迹者</option>


                                    <option value="塞浦路斯">机构: 塞浦路斯</option>


                                    <option value="狂野角斗会">机构: 狂野角斗会</option>


                                    <option value="黑血">机构: 黑血</option>


                                    <option value="死水雇佣兵">机构: 死水雇佣兵</option>


                                    <option value="灵蛇组">机构: 灵蛇组</option>


                                    <option value="最强之拳">机构: 最强之拳</option>


                                    <option value="泛人类基金会">机构: 泛人类基金会</option>


                                    <option value="草原矿业有限公司">机构: 草原矿业有限公司</option>


                                    <option value="卡维拉工商联合体">机构: 卡维拉工商联合体</option>


                                    <option value="月见会">机构: 月见会</option>


                                    <option value="世界遗产保护组织">机构: 世界遗产保护组织</option>


                                    <option value="未来略影">机构: 未来略影</option>


                                    <option value="谛听">机构: 谛听</option>


                                </select>


                            </div>
                        </div>


                        <div>
                            <input type='submit' value='Submit'/>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("#role_form").submit(function (e) {
        var form = new FormData($('#role_form')[0]);
        $.ajax({
            url: '/api/v1/portal/role/',
            method: 'post',
            data: form,
            contentType: false,
            processData: false,
            success: function (response) {
                oneDo.fnDestroy();
                start();
                $('#modal-role .close').click();
            },
            error: function (err) {

            }
        });
    })
</script>