<!-- Modal 6 (Long Modal)-->
<div class="modal fade" id="modal-role">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="row btnRow" id="leftBtn">
                <form id='role_form'>
                    <fieldset>

                        <div class="form-group ">

                            <label class="col-sm-2 control-label ">
                                角色名
                            </label>


                            <div class="col-sm-10">
                                <input name="name" class="form-control" type="text">


                            </div>
                        </div>

                        <div class="form-group ">

                            <label class="col-sm-2 control-label ">
                                简介
                            </label>


                            <div class="col-sm-10">
                                <input name="introduce" class="form-control" type="text">
                            </div>
                        </div>

                        <div class="form-group ">

                            <label class="col-sm-2 control-label ">
                                头像
                            </label>


                            <div class="col-sm-10">
                                <input name="avatar" type="file">


                            </div>
                        </div>


                        <div class="form-group ">

                            <label class="col-sm-2 control-label ">
                                形象
                            </label>


                            <div class="col-sm-10">
                                <input name="imagery" type="file">


                            </div>
                        </div>


                        <div class="form-group ">

                            <label class="col-sm-2 control-label ">
                                背景图
                            </label>


                            <div class="col-sm-10">
                                <input name="back" type="file">


                            </div>
                        </div>


                        <div class="form-group ">

                            <label class="col-sm-2 control-label ">
                                Banner图
                            </label>


                            <div class="col-sm-10">
                                <input name="banner" type="file">


                            </div>
                        </div>

                        <div class="form-group ">

                            <label class="col-sm-2 control-label ">
                                大形象图
                            </label>


                            <div class="col-sm-10">
                                <input name="full_imagery" type="file">


                            </div>
                        </div>

                        <div class="form-group">

                            <label class="col-sm-2 control-label ">
                                Role type
                            </label>


                            <div class="col-sm-10">
                                <select class="form-control" name="role_type">


                                    <option value="0">网剧</option>


                                    <option value="1">官方</option>


                                    <option value="2">认证</option>


                                    <option value="3">普通</option>


                                </select>


                            </div>
                        </div>


                        <div class="form-group">

                            <label class="col-sm-2 control-label ">
                                Race type
                            </label>


                            <div class="col-sm-10">
                                <select class="form-control" name="race_type">


                                    <option value="0">普通人</option>


                                    <option value="1">天选者</option>


                                    <option value="2">守护者</option>


                                    <option value="3">启蒙者</option>


                                </select>


                            </div>
                        </div>


                        <div class="form-group">

                            <label class="col-sm-2 control-label ">
                                Gender
                            </label>


                            <div class="col-sm-10">
                                <select class="form-control" name="gender">


                                    <option value="0">male</option>


                                    <option value="1">female</option>


                                    <option value="2">unknown</option>


                                </select>


                            </div>
                        </div>


                        <div class="form-group">

                            <label class="col-sm-2 control-label ">
                                Camp
                            </label>


                            <div class="col-sm-10">
                                <select id="camp_select" class="form-control" name="camp_id">


                                </select>


                            </div>
                        </div>


                        <div class="form-group">

                            <label class="col-sm-2 control-label ">
                                Organize
                            </label>


                            <div class="col-sm-10">
                                <select id="organize_select" class="form-control" name="organize_id">


                                </select>


                            </div>
                        </div>


                        <div>
                            <input type='submit' value='Submit'/>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function load_camp() {
        $.ajax({
            url: '/api/v1/portal/camp/name_id_list/',
            type: "get",
            success: function (data) {
                var str = ' ';
                for (var i = 0; i < data.data.length; i++) {
                    str += '<option value="' + data.data[i].id + '">';
                    str += data.data[i].name;
                    str += '</option>';
                }
                var camp = $('#camp_select');
                camp.html(' ');
                camp.html(str);
            },
            error: function (err) {
            }
        });
    }
    function load_organize() {
        $.ajax({
            url: '/api/v1/portal/organize/name_id_list/',
            type: "get",
            success: function (data) {
                var str = ' ';
                for (var i = 0; i < data.data.length; i++) {
                    str += '<option value="' + data.data[i].id + '">';
                    str += data.data[i].name;
                    str += '</option>';
                }
                var organize = $('#organize_select');
                organize.html(' ');
                organize.html(str);
            },
            error: function (err) {
            }
        });
    }
    load_camp();
    load_organize();
    $("#role_form").submit(function (e) {
        var form = new FormData($('#role_form')[0]);
        $.ajax({
            url: '/api/v1/portal/role/',
            method: 'post',
            data: form,
            contentType: false,
            processData: false,
            success: function (response) {
                oneDo.fnDestroy();
                start();
                $('#modal-role .close').click();
            },
            error: function (err) {

            }
        });
    })
</script>