<div class="page-title" style="margin: 0 0 30px 0;">
    <div class="title-env">
        <h1 class="title">角色池</h1>
    </div>
</div>
<!-- Basic Setup -->
<div class="panel panel-default">
    <div class="panel-heading">
        <button class="changeBtn" cN="example-1" xN="example-2">最新</button>
        <button class="changeBtn" cN="example-2" xN="example-1">热门</button>
        <button id="exportNew" cN="example-1" xN="example-2">导入最新</button>
        <button id="exportHot" cN="example-2" xN="example-1">导入热门</button>
        <a href="" onclick="addFn1()">
            <i class="fa-plus-square">添加</i>
        </a>
    </div>
    <div class="panel-body">
        <div id="example-1">
            <div style="width: 48%;display: inline-block;vertical-align: top;border-right: 1px solid #ccc;">
                <div style="display: block;color: #444;font-size: 16px;text-align: center;font-style: oblique;">
                    最新池
                </div>
                <table class="table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>角色ID</th>
                        <th>角色名</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>角色ID</th>
                        <th>角色名</th>
                    </tr>
                    </tfoot>
                    <tbody id="dataShowO"></tbody>
                </table>
            </div>
            <div style="width: 48%;display: inline-block;vertical-align: top;border-right: 1px solid #ccc;">
                <div style="display: block;color: #444;font-size: 16px;text-align: center;font-style: oblique;">
                    缓冲池
                </div>
                <table class="table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>角色ID</th>
                        <th>角色名</th>
                        <th>ACTION</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>角色ID</th>
                        <th>角色名</th>
                        <th>ACTION</th>
                    </tr>
                    </tfoot>
                    <tbody id="dataShowU"></tbody>
                </table>
            </div>
        </div>
        <div id="example-2" class="hidden">
            <div style="width: 48%;display: inline-block;vertical-align: top;border-right: 1px solid #ccc;">
                <div style="display: block;color: #444;font-size: 16px;text-align: center;font-style: oblique;">
                    热门池
                </div>
                <table class="table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>角色ID</th>
                        <th>角色名</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>角色ID</th>
                        <th>角色名</th>
                    </tr>
                    </tfoot>
                    <tbody id="dataShowX"></tbody>
                </table>
            </div>
            <div style="width: 48%;display: inline-block;vertical-align: top;">
                <div style="display: block;color: #444;font-size: 16px;text-align: center;font-style: oblique;">
                    缓冲池
                </div>
                <table class="table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>角色ID</th>
                        <th>角色名</th>
                        <th>ACTION</th>

                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>角色ID</th>
                        <th>角色名</th>
                        <th>ACTION</th>

                    </tr>
                    </tfoot>
                    <tbody id="dataShowY"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    function start() {
        $.ajax({
            url: '/api/v1/portal/index/recommend_role/?type=1',
            type: "get",
            success: function (data) {
                var str = ' ';
                for (var i = 0; i < data.length; i++) {
                    str += '<tr>';
                    str += '<td>' + data[i].rid + '</td>';
                    str += '<td>' + data[i].name + '</td>';
                    str += '</tr>';
                }
                $('#dataShowO').html(' ');
                $('#dataShowO').html(str);
                str = ' ';
            },
            error: function (err) {
            }
        });
        $.ajax({
            url: '/api/v1/portal/index/recommend_role/?type=1&temp=1',
            type: "get",
            success: function (data) {
                var str = ' ';
                for (var i = 0; i < data.length; i++) {
                    str += '<tr>';
                    str += '<td>' + data[i].rid + '</td>';
                    str += '<td>' + data[i].name + '</td>';
                    str += '<td>';
                    str += '<ul class="doingBtns">';
                    str += '<li onclick="del_role(' + data[i].rid + ')" value="' + data[i].rid + '" >';
                    str += '删除';
                    str += '</li>';
                    str += '</ul>';
                    str += '</td>';
                    str += '</tr>';
                }
                $('#dataShowU').html(' ');
                $('#dataShowU').html(str);
                str = ' ';
            },
            error: function (err) {
            }
        });
    }
    function start2() {
        $.ajax({
            url: '/api/v1/portal/index/recommend_role/?type=2',
            type: "get",
            success: function (data) {
                var str = ' ';
                for (var i = 0; i < data.length; i++) {
                    str += '<tr>';
                    str += '<td>' + data[i].rid + '</td>';
                    str += '<td>' + data[i].name + '</td>';
                    str += '</tr>';
                }
                $('#dataShowX').html(' ');
                $('#dataShowX').html(str);
                str = ' ';
            },
            error: function (err) {
            }
        });
        $.ajax({
            url: '/api/v1/portal/index/recommend_role/?type=2&temp=1',
            type: "get",
            success: function (data) {
                var str = ' ';
                for (var i = 0; i < data.length; i++) {
                    str += '<tr>';
                    str += '<td>' + data[i].rid + '</td>';
                    str += '<td>' + data[i].name + '</td>';
                    str += '<td>';
                    str += '<ul class="doingBtns">';
                    str += '<li onclick="del_role2(' + data[i].rid + ')" value="' + data[i].rid + '" >';
                    str += '删除';
                    str += '</li>';
                    str += '</ul>';
                    str += '</td>';
                    str += '</tr>';
                }
                $('#dataShowY').html(' ');
                $('#dataShowY').html(str);
                str = ' ';
            },
            error: function (err) {
            }
        });
    }
    start();
    start2();
    $('.changeBtn').click(function () {
        var idN = $(this).attr('cN');
        var idX = $(this).attr('xN');
        $('#' + idN).removeClass('hidden');
        $('#' + idX).addClass('hidden');
    });
    $('#exportHot').click(function () {
        if (confirm("确定？")) {
            $.ajax({
                url: '/api/v1/portal/export_pool/',
                method: 'post',
                data: {
                    type: "hot_role"
                },
                success: function (data) {
                    start();
                    start2();
                    var idN = $(this).attr('cN');
                    var idX = $(this).attr('xN');
                    $('#' + idN).removeClass('hidden');
                    $('#' + idX).addClass('hidden');
                },
                error: function (err) {
                    console.log(err);
                }
            });
        } else {
        }
    });
    $('#exportNew').click(function () {
        if (confirm("确定？")) {
            $.ajax({
                url: '/api/v1/portal/export_pool/',
                method: 'post',
                data: {
                    type: "new_role"
                },
                success: function (data) {
                    start();
                    start2();
                    var idN = $(this).attr('cN');
                    var idX = $(this).attr('xN');
                    $('#' + idN).removeClass('hidden');
                    $('#' + idX).addClass('hidden');
                },
                error: function (err) {
                    console.log(err);
                }
            });
        } else {
        }
    });
    function addFn1() {
        jQuery("#modal-role").modal("show", {backdrop: "static"});
    }
    function del_role(str) {
        if (confirm("确定？")) {
            $.ajax({
                url: '/api/v1/portal/index/recommend_role/',
                method: 'post',
                data: {
                    op: "del",
                    rid: str
                },
                success: function (data) {
                    start();
                    start2();
                },
                error: function (err) {
                    console.log(err);
                }
            });
        } else {
        }
    }
    function del_role2(str) {
        if (confirm("确定？")) {
            $.ajax({
                url: '/api/v1/portal/index/recommend_role/',
                method: 'post',
                data: {
                    op: "del",
                    rid: str
                },
                success: function (data) {
                    start();
                    start2();
                },
                error: function (err) {
                    console.log(err);
                }
            });
        } else {
        }
    }
</script>
