<div class="page-title" style="margin: 0 0 30px 0;">
    <div class="title-env">
        <h1 class="title">DataTable</h1>
        <p class="description">作品数据展示</p>
    </div>
</div>
<!-- Basic Setup -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">机构章节</h3>
        <div class="panel-options">
            <a href="#" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
            <a href="" onclick="addFn()">
                <i class="fa-plus-square"></i>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <script type="text/javascript">
        jQuery(document).ready(function($) {

        });
        </script>
        <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>章节index</th>
                    <th>章节名</th>
                    <th>隶属机构</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>章节index</th>
                    <th>章节名</th>
                    <th>隶属机构</th>
                    <th>Action</th>
                </tr>
                </tr>
            </tfoot>
            <tbody id="dataShow">
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modal-2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span class="changeBtn active" cN="leftBtn">修改</span>
                </h4>
            </div>
            <div class="row btnRow" id="leftBtn">
                <div class="modal-body">
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="fix_id">
                            </div>
                        </div>
                

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="fix_index" class="control-label">阵营index</label>
                                <input type="text" class="form-control" id="fix_index">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="fix_name" class="control-label">章节名称</label>
                                <input type="text" class="form-control" id="fix_name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="fix_organ" class="control-label">隶属机构</label>
                                <input type="text" class="form-control" id="fix_organ" disabled="disabled">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" onclick="upFn()">Save changes</button>
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal fade" id="modal-3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span class="changeBtn" cN="leftBtn">作品详情</span>
                </h4>
            </div>
            <div class="row btnRow">
                <div class="modal-body">
                    <div class="row">
                        <div class="txtDec" id="txtDec">
                        </div>
                        <div class="imgDec" id="imgDec">
                            <!-- <img src="assets/images/clouds.png" alt=""> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/thirdParty/jquery/jquery.cxselect.min.js"></script>
<script>
var dataBase = {};
var oneDo;

function tableDate(fn) {
    var fn = fn || function() {};
    $.ajax({
        url: '/api/v1/chapters/organize/',
        type: "get",
        success: function(data) {
            dataBase = data;
            var str = ' ';
            // var dec_ = data.dec;
            // console.log('data====')
            // console.log(data.length)
            for (var i = 0; i < data.length; i++) {
                str += '<tr>';
                // str += '<td>' + data[i].id + '</td>';
                str += '<td>' + data[i].index + '</td>';
                str += '<td>' + data[i].name + '</td>';
                str += '<td>' + data[i].owner + '</td>';
                str += '<td>';
                str += '<ul class="doingBtns">';
                str += '<li onclick="show_confirm(' + data[i].id + ')">';
                str += '删';
                str += '</li>';
                str += '<li onclick="subFn(' + i + ')">';
                str += '改';
                str += '</li>';
                str += '</ul>';
                str += '</td>';
                str += '</tr>';
            }
            $('#dataShow').html(' ');
            $('#dataShow').html(str);
            str = ' ';
            console.log('this is yes!!');

            oneDo = $("#example-1").dataTable({
                aLengthMenu: [
                    [10, 25, 50, 100, -1],
                    [10, 25, 50, 100, "All"]
                ]
            });

        },
        error: function(err) {}
    });
}
tableDate();

$('.changeBtn').click(function() {
    var idN = $(this).attr('cN');
    $('.changeBtn').removeClass('active');
    $(this).addClass('active');
    $('.modal-content .btnRow').addClass('hidden');
    $('#' + idN).removeClass('hidden');
});

function show_confirm(idNum) {
    var r = confirm("是否要删除!");
    if (r == true) {

        url = '/api/v1/chapters/' + idNum + '/',

            $.ajax({
                url: url,
                type: "delete",
                success: function(data) {
                    $('#dataShow').html(' ');
                    oneDo.fnDestroy();
                    tableDate();
                },
                error: function(err) {
                    alert('删除失败');
                }
            });
    } else {
        alert("You pressed Cancel!");
    }
}

function addFn() {
    jQuery("#modal-1").modal("show", {
        backdrop: "static"
    });
    $.ajax({
        url: '/api/v1/camps/all_organizes/',
        type: "get",
        success: function(data) {
            $('#element_id').cxSelect({
                selects: ['camp', 'organize'], // 数组，请注意顺序
                data: data,
                jsonName: 'name',
                jsonValue: 'value',
                jsonSub: 'sub'
            });
        },
        error: function(err) {}
    });
}


function subFn(idNum) {
    jQuery("#modal-2").modal("show", {
        backdrop: "static"
    });
    $('.modal-backdrop').addClass('hidden');
    var strF = "<div class='modal-backdrop fade in'></div>";
    $('.main-content').append(strF);

    $('#fix_id').val(dataBase[idNum].id);

    $('#fix_index').val(dataBase[idNum].index);


    $('#fix_name').val(dataBase[idNum].name);


    // $('#fix_camp').text(dataBase[idNum].owner);

    $('#fix_organ').val(dataBase[idNum].owner);


    $('#fix_organ').attr('disabled', true);


    $('.close').click(function() {
        $('.modal-backdrop').remove();
    });
}

function upFn() {

    data = {
        'index': $("#fix_index").val(),
        'name': $('#fix_name').val()
    };

    console.log(data);


    id = $("#fix_id").val();

    url = '/api/v1/chapters/' + id + '/';

    $.ajax({
        url: url,
        type: "patch",
        data: JSON.stringify(data),
        contentType: "application/json; charset=utf-8",
        success: function(data) {
            window.location.reload()
        },
        error: function(err) {
            alert(err.responseText)
        }
    });

}





// //新增章节
// function add_chapter() {
//     // jQuery("#modal-2").modal("show", {backdrop: "static"});
//     // $('.modal-backdrop').addClass('hidden');
//     // var strF = "<div class='modal-backdrop fade in'></div>";
//     // $('.main-content').append(strF);
//     // $('.close').click(function(){
//     //     $('.modal-backdrop').remove();
//     // });

//     var url = "/api/v1/camps/" + camp_id + '/chapters/';

//     $.ajax({
//         url: url,
//         type: "delete",
//         success: function(data) {
//             $('#dataShow').html(' ');
//             oneDo.fnDestroy();
//             tableDate();
//         },
//         error: function(err) {
//             alert('删除失败');
//         }
//     });
// }
</script>
