<div class="page-title" style="margin: 0 0 30px 0;">
    <div class="title-env">
        <h1 class="title">DataTable</h1>
        <p class="description">作品数据展示</p>
    </div>
</div>
<!-- Basic Setup -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">角色作品</h3>
        <div class="panel-options">
            <a href="#" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
            <a href="" onclick="addFn()">
                <i class="fa-plus-square"></i>
            </a>
        </div>
    </div>
    <div class="panel-body">

        <script type="text/javascript">
            jQuery(document).ready(function ($) {

            });
        </script>

        <table id="example-1" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>作品ID</th>
                <th>隶属角色</th>
                <th>标题</th>
                <th>点击数</th>
                <th>作品类型</th>
                <th>发布时间</th>
                <th>详情</th>
                <th>操作</th>
            </tr>
            </thead>

            <tfoot>
            <tr>
                <th>作品ID</th>
                <th>隶属角色</th>
                <th>标题</th>
                <th>点击数</th>
                <th>作品类型</th>
                <th>发布时间</th>
                <th>详情</th>
                <th>操作</th>
            </tr>
            </tfoot>
            <tbody id="dataShow">

            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modal-2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span class="changeBtn active" cN="leftBtn"> 修改作品 </span>
                </h4>
            </div>
            <div class="row btnRow" id="leftBtn">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="fix_id">
                            </div>

                            <div class="form-group">
                                <input type="hidden" class="form-control" id="fix_type">
                            </div>

                            <div class="form-group">
                                <input type="hidden" class="form-control" id="fix_role_id">
                            </div>


                            <div class="form-group">
                                <label for="fix_title" class="control-label">作品标题</label>
                                <input type="text" class="form-control" id="fix_title">
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group">
                                <label for="fix_introduce" class="control-label">作品简介</label>

                                <input type="text" class="form-control" id="fix_introduce">
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="form-group" id='fix_content_show'>
                                <label for="fix_content" class="control-label">作品内容</label>

                                <textarea class="form-control autogrow" id="fix_content"></textarea>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal" id='fix-btn-close'>Close</button>
                <button type="button" class="btn btn-info" onclick="upFn()">Save changes</button>
            </div>
        </div>
    </div>
</div>
</div>
<div class="modal fade" id="modal-3">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">
                    <span class="changeBtn" cN="leftBtn">作品详情</span>
                </h4>
            </div>
            <div class="row btnRow">
                <div class="modal-body">
                    <div class="row">
                        <div class="txtDec" id="txtDec">

                        </div>
                        <div class="imgDec" id="imgDec">
                            <!-- <img src="assets/images/clouds.png" alt=""> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<link rel="stylesheet" type="text/css" href="/static/third/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/static/third/jcrop/jquery.Jcrop.min.css">
<link rel="stylesheet" type="text/css" href="/static/third/wysiwyg/css/wysiwyg-editor.css">
<link rel="stylesheet" type="text/css" href="/static/css/creationWork.css">

<script type="text/javascript" src="/static/third/jcrop/jquery.Jcrop.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/third/cookie/jquery.cookie.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/third/wysiwyg/js/wysiwyg.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/third/wysiwyg/js/wysiwyg-editor.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/third/json/json2.js" charset="utf-8"></script>

<link rel="stylesheet" href="/static/css/combo.select.css">


<script src="/static/third/jquery/jquery.cxselect.min.js"></script>


<script>
    var dataBase = {};
    var oneDo;
    function tableDate(fn) {
        var fn = fn || function () {
                };
        $.ajax({
            url: '/api/v1/portal/post/',
            type: "get",
            success: function (data) {
                dataBase = data;
                var str = ' ';
                for (var i = 0; i < data.data.length; i++) {
                    str += '<tr>';
                    str += '<td>' + data.data[i].id + '</td>';
                    str += '<td>' + data.data[i].role_name + '</td>';
                    str += '<td>' + data.data[i].title + '</td>';
                    str += '<td>' + data.data[i].hits_count + '</td>';
                    if (data.data[i].post_type == 1) {
                        str += '<td>绘画</td>';
                    } else {
                        str += '<td>文章</td>';
                    }
                    str += '<td>' + data.data[i].create_time + '</td>';
                    if (data.data[i].post_type == 0) {
                        str += '<td class="moreDec"  onclick="showMore(' + i + ',' + data.data[i].post_type + ')">详情</td>';
                    } else {
                        str += '<td class="moreDec">/</td>';
                    }
                    str += '<td>';
                    str += '<ul class="doingBtns">';
                    str += '<li onclick="show_confirm(' + data.data[i].role_id + ', ' + data.data[i].post_type + ', ' + data.data[i].id + ')">';
                    str += '删';
                    str += '</li>';
                    str += '<li onclick="subFn(' + i + ', ' + data.data[i].post_type + ')">';
                    str += '改';
                    str += '</li>';
                    str += '<li onclick="more_detail(' + data.data[i].id + ',  ' + data.data[i].role_id + ',  ' + data.data[i].post_type + ')">';
                    str += '查看效果';
                    str += '</li>';
                    str += '</ul>';
                    str += '</td>';
                    str += '</tr>';
                }
                $('#dataShow').html(' ');
                $('#dataShow').html(str);
                str = ' ';
                console.log('this is yes!!');

                oneDo = $("#example-1").dataTable({
                    aLengthMenu: [
                        [10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]
                    ]
                });

            },
            error: function (err) {
            }
        });
    }
    tableDate();

    $('.changeBtn').click(function () {
        var idN = $(this).attr('cN');
        $('.changeBtn').removeClass('active');
        $(this).addClass('active');
        // $('.modal-content .btnRow').addClass('hidden');
        $('#' + idN).removeClass('hidden');
    });

    function show_confirm(role_id, post_type, post_id) {
        var r = confirm("是否要删除!");
        if (r == true) {

            //如果是文章  api/v1/roles/{role_id}/articles/{post_id}
            //如果是绘画  api/v1/roles/{role_id}/draws/{post_id}

            var url = "";

            if (post_type == 0) {
                url = "/api/v1/roles/" + role_id + '/articles/' + post_id + '/';
            }
            else {
                url = "/api/v1/roles/" + role_id + '/draws/' + post_id + '/';
            }

            $.ajax({
                url: url,
                type: "delete",
                success: function (data) {
                    $('#dataShow').html(' ');
                    oneDo.fnDestroy();
                    tableDate();
                },
                error: function (err) {
                    alert('删除失败');
                }
            });
        }


        else {
            alert("You pressed Cancel!");
        }
    }

    function addFn() {
        jQuery("#modal-1").modal("show", {
            backdrop: "static"
        });
        $.ajax({
            url: '/api/v1/portal/role/name_id_list/',
            type: "get",
            success: function (data) {
                $('#element_id').cxSelect({
                    selects: ['role'], // 数组，请注意顺序
                    data: data.data,
                    jsonName: 'name',
                    jsonValue: 'id'
                });

                $('#add_role').comboSelect();


            },
            error: function (err) {
            }
        });
    }


    function showMore(num, type) {

        if (type == 0) {
            $('#txtDec').html(dataBase.data[num].content);

        } else {
            var str_ = '';

            var image_list = dataBase.data[num].image_list;
            console.log('image_list');
            console.log(dataBase.data[num]);

            for (var i = 0; i < image_list.length; i++) {
                str_ += '<img src="' + image_list[i].url + '" alt="">';
            }

            $('#imgDec').html(str_);
            str_ = '';
        }


        jQuery("#modal-3").modal("show", {backdrop: "static"});
        $('.modal-backdrop').addClass('hidden');
        var strF = "<div class='modal-backdrop fade in'></div>";
        $('.main-content').append(strF);
        $('.close').click(function () {
            $('#txtDec').html(' ');
            $('#imgDec').html(' ');
            $('.modal-backdrop').remove();
        });

    }
    function subFn(idNum, type) {
        jQuery("#modal-2").modal("show", {backdrop: "static"});
        $('.modal-backdrop').addClass('hidden');
        var strF = "<div class='modal-backdrop fade in'></div>";
        $('.main-content').append(strF);

        $("#fix_id").val(dataBase.data[idNum].id);

        $("#fix_type").val(dataBase.data[idNum].post_type);

        $('#fix_role_id').val(dataBase.data[idNum].role_id);


        $('#fix_title').val(dataBase.data[idNum].title);

        $('#fix_introduce').val(dataBase.data[idNum].introduce);


        if (type == 0) {


            $('#fix_content_show').removeClass('hidden', true);

            $('#fix_content').val(dataBase.data[idNum].content);

        } else {

            $('#fix_content_show').addClass('hidden', true);

        }


        $('.close').click(function () {
            $('.modal-backdrop').remove();
        });
    }

    function upFn() {

        if ($('#fix_type').val() == 0) {
            //如果是文章
            data = {
                'title': $('#fix_title').val(),
                'introduce': $('#fix_introduce').val(),
                "content": $('#fix_content').val()
            };

            role_id = $("#fix_role_id").val();

            post_id = $("#fix_id").val();

            url = '/api/v1/roles/' + role_id + '/articles/' + post_id + '/';

        } else {
            //如果是绘画
            data = {
                'title': $('#fix_title').val(),
                'introduce': $('#fix_introduce').val()
            };

            role_id = $("#fix_role_id").val();

            post_id = $("#fix_id").val();

            url = '/api/v1/roles/' + role_id + '/draws/' + post_id + '/';

        }

        $.ajax({
            url: url,
            type: "patch",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                window.location.reload()
            },

            error: function (err) {

                console.log(err.responseText)
                alert(err.responseText)

            }
        });

    }

    function more_detail(id, role_id, post_type) {

        var url = "";

        //如果post_type为文章
        if (post_type == 0) {
            url = "/role/#/essay/" + role_id + '/' + id + '/';
        }
        //如果post_type为绘画
        else {
            url = "/role/#/atlas/" + role_id + '/' + id + '/';
        }

        window.open(url)

    }


</script>